* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
ul {
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
a {
  text-decoration: none;
}
.header_container {
  position: fixed;
  top: 0;
  background-color: #f5ebe0;
  z-index: 99;
  width: 100%;
  background-color: #f5ebe0;
}
.header_logo {
  display: flex;
  height: 60px;
  position: relative;
  align-items: center;
  justify-content: end;
}
.logo {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  width: 60px;
  border: 1px solid #f0dbdb;
  overflow: hidden;
  border-radius: 50%;
}
.header_icon_list {
  display: flex;
  padding-right: 40px;
}
.header_icon_list li i {
  font-size: 24px;
  margin-left: 25px;
  color: #dba39a;
}
.header_icon_list li {
  position: relative;
}
.header_icon_list .quantity {
  position: absolute;
  right: -9px;
  top: -12px;
  padding: 0 6px;
  font-weight: 600;
  font-size: 12px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
}
/* header_nav */
.header_nav {
  display: flex;
  align-items: center;
}
.nav_list {
  display: flex;
  align-items: center;
  color: lightslategray;
}
.nav_list li a {
  color: lightslategray;
}
.name_shop {
  flex: 0 0 14%;
  text-align: center;
}
.nav_box1 {
  height: 45px;
  display: flex;
  border-top: 1px solid #dba39a;
  justify-content: end;
  align-items: center;
  flex: 0 0 43%;
}
.nav_box1 .nav_list li a {
  margin-right: 20px;
}
.nav_box2 .nav_list li a {
  margin-left: 20px;
}
.nav_box2 {
  height: 45px;
  display: flex;
  align-items: center;
  border-top: 1px solid #dba39a;
  flex: 0 0 43%;
}
.name_shop {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
  font-size: 25px;
}
/* siignIN */
.banner_body {
  position: relative;
  height: 640px;
}
.banner_body img {
  opacity: 0.4;
}

section {
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
  padding: 50px 30px;
  border-radius: 10px;
  min-width: 800px;
  max-width: 100px;
  min-height: 450px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefcf3;
  position: relative;
  overflow: hidden;
}

.container .form {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 0 20px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefcf3;
  transition: 0.7s ease-in-out transform;
  overflow: hidden;
}
.container .form.sign-in-form {
  left: 0;
}
.container .form.sign-up-form {
  right: 0;
}
.container .form .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s ease-in-out transform;
}
.container .form.sign-in-form .wrapper {
  transform: translateX(100%);
}
.container .sign-in-form.active .wrapper {
  transform: translateX(0);
}
.container .form.sign-up-form .wrapper {
  transform: translateX(-100%);
}
.container .sign-up-form.active .wrapper {
  transform: translateX(0);
}
.container .form h1 {
  font-family: "serif";
  font-size: 40px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.container .form p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 25px;
  margin-bottom: 30px;
}
.container .form input {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 35px;
  font-family: "Montserrat";
  font-size: 14px;
  padding-left: 15px;
  border: none;
  background-color: rgba(199, 197, 197, 0.425);
  outline: none;
}
.container .form input::placeholder {
  color: rgba(0, 0, 0, 0.658);
}
.overlay-container .overlay button,
.container .form button {
  padding: 10px 50px;
  border: none;
  outline: none;
  font-family: "serif";
  font-size: 18px;
  background-color: #f5ebe0;
  cursor: pointer;
  color: #f6f5f7;
}
.container .overlay-container {
  position: absolute;
  background-image: url("./image/imageLogin.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: 0.7s ease-in-out transform;
}

.container .overlay-container .overlay {
  background-size: cover;
  background-position: center center;
  position: absolute;
  left: 0%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.7s ease-in-out transform;
  z-index: 1;
}
.container .overlay::after {
  content: "";
  position: absolute;
  background-color: #f5ebe0;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.overlay-container .overlay .overlay-left,
.overlay-container .overlay .overlay-right {
  flex-basis: 50%;
  text-align: center;
}
.overlay-container .overlay .overlay-left {
}
.overlay-container .overlay h1 {
  font-family: "serif";
  font-size: 38px;
  font-weight: 600;
  color: black;
}
.overlay-container .overlay p {
  color: white;
  font-family: "serif";
  font-size: 20px;
  font-weight: 300;
}
.overlay-container .overlay button {
  background-color: #f5ebe0;
  color: black;
  margin-top: 20px;
}
.form-control::-webkit-input-placeholder {
  /* Edge */
  color: red;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

.form-control::placeholder {
  color: red;
}
.form-control {
  margin-bottom: 0 !important;
}
.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

/* home */
.banner {
  overflow: hidden;
  position: relative;
  background-image: url("https://cdn.shopify.com/s/files/1/0013/1363/6425/files/gemstone-jewelry-on-macarons_1600x.jpg?v=1642802943");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 85.8vh;
}
.banner__adv {
  position: absolute;
  right: 0;
  top: 15%;
  transform: translateY(-50%);
  right: 70px;
  width: 25%;
  border-radius: 6px;
  height: 70%;
  background-color: #f5ebe0;
}
.banner__adv h1 {
  margin: auto;
  padding-top: 100px;
  font-size: 24px;
  font-family: serif;
  color: #42210b;
  text-align: center;
  width: 70%;
}
.banner__adv p {
  margin: auto;
  padding-top: 30px;
  font-size: 15px;
  font-family: serif;
  color: #42210b;
  text-align: center;
  width: 90%;
}
.banner__adv .button {
  display: flex;
  justify-content: center;
}
.banner__adv .button button {
  border: none;
  background-color: #dba39a;
  font-size: 20px;
  font-family: serif;
  letter-spacing: 1px;
  color: #fff;
  padding: 15px 20px 15px 20px;
  text-align: center;
  margin-top: 60px;
  border-radius: 5px;
}
.banner__adv .button button:hover {
  background-color: #d6a3739a;
}

/* Collections */

:root {
  --after-content: "2";
}

.cart-box {
  width: 26% !important;
  position: absolute;
  left: 72%;
  top: 25%;
  /* border:solid 1px blue; */
  padding: 10px 20px;
}

.cart-wrapper {
  padding: 10px;
  overflow-y: auto;
  max-height: 470px;
}
.subtotal {
  text-align: right;
  padding: 5%;
}
.checkout,
.view-cart {
  width: 95%;
  text-align: center;
  cursor: pointer;
  background-color: brown;
  font-size: large;
  color: #fff;
  margin: 10px auto;
  padding: 10px 15px;
}
.view-cart {
  background-color: #fff;
  border: 2px solid brown;
  color: brown;
}
.cart-icon {
  text-align: right;
}

.cart-item .details {
  padding-left: 5%;
}

.cart-item h3 {
  text-align: left;
  font-weight: 700;
  margin-bottom: 5%;
}

.cart-item .price {
  margin-left: 15px;
  color: #ebc989;
  font-size: 20px;
  font-weight: 600;
}

.quantity {
  display: block;
  margin-top: 5%;
}

.fa-window-close {
  color: brown;
}
.cancel {
  text-align: right;
}
.whole-cart-window {
  border-top: none;
  background-color: #fff;
}

.non-empty::after {
  content: var(--after-content);
  position: absolute;
  right: -6px;
  top: -8px;
  padding: 4px 6px 3px 7px;
  font-size: 10px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.card-item {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.details {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.card-item p,
.card-item h3 {
  margin-top: 10px;
}
.card-item span {
  display: block;
  margin-top: 10px;
}
.add-to-cart-btn {
  width: fit-content;
  margin: auto;
  /* margin-top:10px; */
  padding: 10px 15px;
  cursor: pointer;
  background-color: brown;
  border-radius: 3px;
  font-size: large;
  color: #fff;
}
/* canvas */
.offcanvas-body {
  overflow-y: hidden !important;
  padding: 0 !important;
}
/* silder */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
