* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
ul {
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
a {
  text-decoration: none;
}
.cart-box {
  width: 26% !important;
  position: absolute;
  left: 72%;
  top: 25%;
  /* border:solid 1px blue; */
  padding: 10px 20px;
}
:root {
  --after-content: "2";
}

.cart-wrapper {
  padding: 10px;
  overflow-y: auto;
  max-height: 470px;
}
.subtotal {
  text-align: right;
  padding: 5%;
}
.checkout,
.view-cart {
  width: 95%;
  text-align: center;
  cursor: pointer;
  background-color: brown;
  font-size: large;
  color: #fff;
  margin: 10px auto;
  padding: 10px 15px;
}
.view-cart {
  background-color: #fff;
  border: 2px solid brown;
  color: brown;
}
.cart-icon {
  text-align: right;
}

.cart-item .details {
  padding-left: 5%;
}

.cart-item h3 {
  text-align: left;
  font-weight: 700;
  margin-bottom: 5%;
}

.cart-item .price {
  margin-left: 15px;
  color: #ebc989;
  font-size: 20px;
  font-weight: 600;
}

.quantity {
  display: block;
  margin-top: 5%;
}

.fa-window-close {
  color: brown;
}
.cancel {
  text-align: right;
}
.whole-cart-window {
  border-top: none;
  background-color: #fff;
}

.non-empty::after {
  content: var(--after-content);
  position: absolute;
  right: -6px;
  top: -8px;
  padding: 4px 6px 3px 7px;
  font-size: 10px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.card-item {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.details {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.card-item p,
.card-item h3 {
  margin-top: 10px;
}
.card-item span {
  display: block;
  margin-top: 10px;
}
.add-to-cart-btn {
  width: fit-content;
  margin: auto;
  /* margin-top:10px; */
  padding: 10px 15px;
  cursor: pointer;
  background-color: brown;
  border-radius: 3px;
  font-size: large;
  color: #fff;
}
/* canvas */
.offcanvas-body {
  overflow-y: hidden !important;
  padding: 0 !important;
}
.collections_banner {
  margin-top: 100px;
}

/* =============== */
.card_product_contain {
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 73%;
  flex-wrap: wrap;
}
.card_product_name {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #42210b;
  margin-top: 10px;
  font-weight: 700;
}
.product_price {
  color: #42210b;
  font-size: 15px;
  line-height: 23px;
  display: block;
  font-weight: 500;
  gap: 10px;
  margin-top: 10px;
}
.card_product {
  padding-bottom: 10px;
}
.card_product:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.collection_product {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product_card_img {
  position: relative;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.product_card_icon {
  position: absolute;
  display: flex;
  bottom: -20px;
  z-index: -1;
  gap: 10px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.card_product:hover .product_card_icon {
  bottom: 10px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
}
.icon_box:hover {
  background-color: #42210b;
}
.icon_box:hover i {
  color: #ebc989;
}
